#score{
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
#timer{
    float: right;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color:#020224;
}
h1{
    color:#530399;
    font-family: 'Oswald', sans-serif;
    margin-top:12px;
    text-align:center;
}
#show_sketch{
    float: right;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color:#530399;
}
#sketch_to_be_drawn{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color:#530399;
}